/* Cmd: [ravikirn@rk-dell-xps static]# compass compile --sass-dir=sass --css-dir=css */
/* Variables */
/* line 11, ../sass/styles.scss */
body {
  padding: 0px 30px;
}

/* line 15, ../sass/styles.scss */
h1.page-heading {
  margin: 25px 0 10px 0;
}

/* line 19, ../sass/styles.scss */
div.source-code {
  margin-bottom: 15px;
}

/* line 23, ../sass/styles.scss */
div.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 27, ../sass/styles.scss */
div.container-fluid .tabpanel-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 32, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
}
/* line 41, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .item-count {
  margin-right: 15px;
  font-size: 25px;
  color: #777;
}
/* line 47, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .music-item-image {
  padding: 10px;
  display: block;
}
/* line 52, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .music-item-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 10px;
}
/* line 58, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .music-item-info .title-year .music-link, div.container-fluid .tabpanel-list-item .music-item-info .title .music-link {
  font-size: 20px;
}
/* line 63, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .music-item-info .artists, div.container-fluid .tabpanel-list-item .music-item-info .uploaded-date {
  padding: 3px 0;
  font-size: 16px;
  color: #666;
}
/* line 69, ../sass/styles.scss */
div.container-fluid .tabpanel-list-item .music-item-info .recommend {
  font-size: 11px;
  color: #777;
}
/* line 76, ../sass/styles.scss */
div.container-fluid .tab-content {
  padding: 15px;
}
